<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>About Page</title>
</head>
<body>
    <div id="content" class="m-4">
        <h1>About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nisi tempore a ad. Voluptatum quis illo quasi dolorum velit. Quod itaque autem quae a doloremque, blanditiis beatae quos soluta eum.</p>
    </div>nt
    <script>console.log("about page")</script>
</body>
</html>