<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Services Page</title>
</head>
<body>
    <section id="content" class="m-4">
        <h1>Services</h1>
        <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos mollitia enim ipsam illum. At voluptates architecto quaerat eligendi totam ex! Autem pariatur deleniti, rerum sequi nesciunt expedita placeat numquam corrupti!</h2>
    </section>
    <script>console.log("services page")</script>
</body>
</html>