<!DOCTYPE html>
<html lang="en" th:replace="~{./base::parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Appointments Page</title>
</head>

<body>
    <div id="content" class="sm:pl-64" style="height: 1000px">
        <div class="flex justify-center align-middle">
            <div class="relative p-6 overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Token Number</th>
                            <th scope="col" class="px-6 py-3">Patient ID</th>
                            <th scope="col" class="px-6 py-3">Dr. ID</th>
                            <th scope="col" class="px-6 py-3">Preferred Time Slot</th>
                            <th scope="col" class="px-6 py-3">Preferred Date</th>
                            <th scope="col" class="px-6 py-3">Status</th>
                            <th scope="col" class="px-6 py-3">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-th-object="${c}" data-th-each="c : ${appoitments}"
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th data-th-text="*{tokenNo}" 
                            scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                  
                            </th>
                            <th data-th-text="*{patientID}" 
                            scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                  
                            </th>
                            <th data-th-text="*{doctorID}" scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                No Available
                            </th>
                            <td data-th-text="*{time}" class="px-6 py-4">
                                No Available
                            </td>
                            <td data-th-text="*{date}" class="px-6 py-4">No Available</td>
                            </td>
                            <td data-th-text="*{status}" class="px-6 py-4">
                            </td>
                            <td class="flex items-center justify-center gap-1 px-6 py-4">
                                <button>
                                    <i class="w-6 h-6 fa-solid fa-trash"></i>
                                </button>
                                <button>
                                    <a> <i class="w-6 h-6 fa-solid fa-pen"></i></a>
                                </button>
                                <button>
                                    <i class="w-6 h-6 fa-solid fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        console.log("Contacts page");
    </script>
</body>

</html>